<% include partials/_header %>

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header">Search</div>
              <div class="card-body">
                <form action="/" method="GET" class="pd-4">
                  <div class="row align-items-center">
                    
                    <div class="col-md-4 col-sm-12">
                       
                          <input class="form-control" placeholder="Enter Name" name="name" type="text" value="<%=  %>">
                    </div>
                    
                    <div class="col-md-2 col-sm-12">
                      
                        <button type="submit" class="btn btn-success form-control">
                            <i class="fa fa-search"></i>Search
                        </button>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <a href="/create" class="btn btn-info float-right">New</a>
                    </div>
                    
                  </div>
                </form>
                  
              </div>
          </div>
      </div>
  
    <!-- LIST -->
    <div class="col-md-12">
      Total: <%= numOfResults %>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Ref</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Adress</th>
            <th>Status</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < employees.length; i++) { %>
            <tr>
              <td><%= i + 1%></td>
              <td><strong><%= employees[i].name %></strong></td>
              <td><%= employees[i].email %></td>
              <td><%= employees[i].phone %></td>
              <td><%= employees[i].address %></td>
              <td><a
                class="<%= employees[i].status ? 'btn btn-success' : 'btn btn-dark'%>"
                href="/turn/<%= employees[i]._id %>"><%= employees[i].status ? "Active" : "Inactive" %></a></td>
              <td>
                <a href="/edit/<%= employees[i]._id %>" class="btn btn-info">
                  Edit
                </a>
                <a href="/delete/<%= employees[i]._id %>"
                  class="btn btn-danger">
                  Delete
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <!--  -->
      <% if (pages > 1) { %>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <% if (currentPage == 1) { %>
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <% } else { %>
            <li class="page-item"><a class="page-link" href="/?page=1">First</a></li>
        <% } %>
            <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(currentPage) + 4) && i <= pages; i++) { %>
                <% if (i == currentPage) { %>
                    <li class="active"><a class="page-link" ><%= i %></a></li>
                <% } else { %>
                    <li><a href="/?page=<%= i %>" class="page-link" ><%= i %></a></li>
                <% } %>
                <% if (i == Number(currentPage) + 4 && i < pages) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
            <% } %>
            <% if (currentPage == pages) { %>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            <% } else { %>
                <li><a href="/?page=<%= pages %>" class="page-link">Last</a></li>
            <% } %>
        </ul>
      </nav>
    <% } %>
    </div>
  </div>
</div>


